<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" ResponseEncoding="UTF-8" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="System " %>
<%@ Import Namespace="System" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="TableName"   Optional="True" %>
<%@ Property Name="SourceView" Type="SchemaExplorer.ViewSchema" Category="Context" Description="ViewName" Optional="True"  %>
<%@ Property Name="nameSpace" Type="System.String" Default="" Optional="false" Category="Strings" Description="nameSpace" %>

 <%
bool isPrint=false;
 string primaryKeyName=""; 
string primaryKeyType="";
string primaryJdbcType="";
string userAndTypeBindOut="";
string userIdBindOut="";
string tableNameSource="";
string tableNameEntity="";
string tableDescribe="";
if(SourceTable!=null){
    tableNameSource=SourceTable.Name;
    tableNameEntity=GetUpperCamel(SourceTable.Name);
     tableDescribe=SourceTable.Description;
}else{
     tableNameSource=SourceView.Name;
    tableNameEntity=GetUpperCamel(SourceView.Name);
}
 foreach (ColumnSchema column in SourceTable.Columns) { if(column.IsPrimaryKeyMember) { primaryKeyName=column.Name; primaryKeyType = GetJavaTypeUpper(column.Name,column.DataType);primaryJdbcType=GetMysqltoMybatisTypeUpper(column.Name,column.DataType);   break; }}
String showColumns="";
String entityGet="";
string pkAndType=" "+primaryKeyType+" "+primaryKeyName;
 if(1==2)
 { //输出 用户id绑定信息
     userAndTypeBindOut=" ,String userId";
     userIdBindOut=",userId";
 }
 %>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="<%=nameSpace %>.dao.<%=tableNameEntity%>Mapper" >
 <!--   <%=tableDescribe %> -->
   <resultMap id="BaseResultMap" type="<%=nameSpace %>.entity.<%=tableNameEntity%>Entity">
     <constructor>
     <% if(SourceTable!=null) for(int i=0;i<SourceTable.Columns.Count;i++) { %>
      <arg column="<%=SourceTable.Columns[i].Name%>" javaType="<%=GetJavaFullTypeUpper(SourceTable.Columns[i].Name,SourceTable.Columns[i].DataType)%>" jdbcType="<%=GetMysqltoMybatisTypeUpper(SourceTable.Columns[i].Name,SourceTable.Columns[i].DataType)%>" />
       <% }  %>
          <% if(SourceView!=null) for(int i=0;i<SourceView.Columns.Count;i++) {  %>
           
      <arg column="<%=SourceView.Columns[i].Name%>" javaType="<%=GetJavaFullTypeUpper(SourceView.Columns[i].Name,SourceView.Columns[i].DataType)%>" jdbcType="<%=GetMysqltoMybatisTypeUpper(SourceTable.Columns[i].Name,SourceTable.Columns[i].DataType)%>" />
       <% }  %>    

   
   
    </constructor>
   </resultMap>
 
   <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
 
 <sql id="Base_Column_List">
    <!-- 查询显示字段 -->
      <% if(SourceTable!=null) for(int i=0;i<SourceTable.Columns.Count;i++) {%> <%=SourceTable.Columns[i].Name%> <% if(i+1==SourceTable.Columns.Count)continue; %>, <% }  %>
       <% if(SourceView!=null) for(int i=0;i<SourceView.Columns.Count;i++) {%> <%=SourceView.Columns[i].Name%> <% if(i+1==SourceView.Columns.Count)continue; %>, <% }  %>
  </sql>
  <select id="selectByExample" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Example" resultMap="BaseResultMap">
      select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from <%=tableNameSource%>
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <select id="countByExample" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Example" resultType="java.lang.Long">
    select count(*) from <%=tableNameSource%>
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <% if(SourceTable!=null){%>
    <select id="selectByPrimaryKey" parameterType="java.lang.<%= primaryKeyType%>" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from <%=tableNameSource%>
    where <%= primaryKeyName %>=#{<%= GetAttributeCamel(primaryKeyName) %>,jdbcType=<%=primaryJdbcType%> }  
  </select>
  <%}%>

   <% if(SourceTable!=null){%>
      <delete id="deleteByPrimaryKey" parameterType="java.lang.<%= primaryKeyType%>">
        delete from <%=tableNameSource%>
        where <%= primaryKeyName %>=#{<%= GetAttributeCamel(primaryKeyName) %>,jdbcType=<%=primaryJdbcType%> }  
      </delete>
      
    <update id="updateStatusToDel" parameterType="java.lang.<%= primaryKeyType%>">
    update <%=tableNameSource%> 
    set  is_delete=1
    where <%= primaryKeyName %>=#{<%= GetAttributeCamel(primaryKeyName) %>,jdbcType=<%=primaryJdbcType%> }  
  </update>
      
  <insert id="insert" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Entity">
    insert into <%=tableNameSource%> (
      <%  for(int i=0;i<SourceTable.Columns.Count;i++) {%> <%=SourceTable.Columns[i].Name%> <% if(i+1==SourceTable.Columns.Count)continue; %>, <% }  %>
      )
    values (
      <%= getMybatisInsert( SourceTable) %>
        )
  </insert>
  <insert id="insertSelective" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Entity">
    insert into <%=tableNameSource%>
    <trim prefix="(" suffix=")" suffixOverrides=",">
     <%  for(int i=0;i<SourceTable.Columns.Count;i++) {%> 
     <if test="<%=GetAttributeCamel(SourceTable.Columns[i].Name)%> != null">
      <%=SourceTable.Columns[i].Name%>,
      </if>
      <% }  %>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     <%  for(int i=0;i<SourceTable.Columns.Count;i++) {%>
     <if test="<%=GetAttributeCamel(SourceTable.Columns[i].Name)%> != null">
        #{<%=GetAttributeCamel(SourceTable.Columns[i].Name)%>,jdbcType=<%=GetMysqltoMybatisTypeUpper(SourceTable.Columns[i].Name,SourceTable.Columns[i].DataType)%>},
      </if>
      <% }  %>
    </trim>
  </insert>
  <insert id="inserts" parameterType="java.util.List">
    insert into <%=tableNameSource%> (
     <%  for(int i=0;i<SourceTable.Columns.Count;i++) {%> <%=SourceTable.Columns[i].Name%> <% if(i+1==SourceTable.Columns.Count)continue; %>, <% }  %>
    )
    values
    <foreach collection="list" index="index" item="item"
             separator="," open="" close=""> 
      (
        <%= getMybatisInsert( SourceTable) %>
      )
    </foreach>
  </insert>
     <update id="updateByPrimaryKeySelective" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Entity">
    update <%=tableNameSource%>
    <set>
      <%  for(int i=0;i<SourceTable.Columns.Count;i++) { if(editIsContinue(SourceTable.Columns[i].Name))continue; %>
      <if test="<%=GetAttributeCamel(SourceTable.Columns[i].Name)%> != null">
       <%=SourceTable.Columns[i].Name%>= #{<%=GetAttributeCamel(SourceTable.Columns[i].Name)%>,jdbcType=<%=GetMysqltoMybatisTypeUpper(SourceTable.Columns[i].Name,SourceTable.Columns[i].DataType)%>},
      </if>
      <% }  %>
    </set>
    where <%= primaryKeyName %>=#{<%= GetAttributeCamel(primaryKeyName) %>,jdbcType=<%=primaryJdbcType%> }  
  </update>
 
    <update id="updateByPrimaryKey" parameterType="<%=nameSpace %>.entity.<%=tableNameEntity%>Entity">
    update <%=tableNameSource%> 
    set 
      <%=getMybatisUpdateSet(SourceTable) %>
    where <%= primaryKeyName %>=#{<%= GetAttributeCamel(primaryKeyName) %>,jdbcType=<%=primaryJdbcType%> }  
  </update>
    <%}%>
</mapper>

<script runat="template">
// My methods here.
</script>
<!-- #include file="../ScriptTemplateFilter.cst" -->
<!-- #include file="../ScriptTemplate.cst" -->