<%@ Template Language="C#" TargetLanguage="Text" Debug="False" ResponseEncoding="UTF-8" %>
<%@ Property Name="SampleStringProperty" Default="SomeValue" Type="System.String" %>
<%@ Property Name="SampleBooleanProperty" Default="True" Type="System.Boolean" %>


<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="TableName" %>
<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="请选择你要生成的表，可以多选！" %>
<%@ Property Name="nameSpace" Type="System.String" Default="" Optional="false" Category="Strings" Description="nameSpace" %>

<%@ Register Name="p_jsp_edit" Template="p_jsp_edit.cst"  MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="p_jsp_list" Template="p_jsp_list.cst"  MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="p_mybatis" Template="p_mybatis.cst"  MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="p_mybatis1" Template="p_mybatis1.cst"  MergeProperties="False" ExcludeProperties="" %>


<%@ Property Name="dropDownListStr" Type="System.String" Default="" Optional="false" Category="Strings" Description="dropDownList" %>
<% %>
<script runat="template">
  
        
        public void Generate()
        { 
            foreach(TableSchema table in this.SourceTables){
                String fileName=GetUpper(table.Name);
                CodeTemplate st=new p_control();
                    CreateTemplate(st,fileName+"Controller.java",table,false);
                    st=new p_jsp_edit();
                    CreateTemplate(st,table.Name+"_edit.jsp",table,true);
                    st=new p_jsp_list();
                    CreateTemplate(st,table.Name+"_list.jsp",table,false);
                    st=new p_mybatis();
                    CreateTemplate(st,fileName+"Mapper.xml",table,false);
                    st=new p_services();
                    CreateTemplate(st,fileName+"Service.java",table,false);
            }
        } 
        public void CreateTemplate(CodeTemplate temp,string fileName,TableSchema table,bool isDDL)
        {
            //System.Diagnostics.Debugger.Launch();  
            System.Diagnostics.Debugger.Break();
                       CodeTemplate st =temp;
            string outputFile = "";
            if(isDDL)
                st.SetProperty("dropDownListStr",dropDownListStr);
        	st.SetProperty("SourceTable",table);
        	st.SetProperty("nameSpace",nameSpace);
            
            outputFile = string.Format("D:\\CodeCreate\\{0}\\{1}",table.Name,fileName);
            st.RenderToFile(outputFile,true);
        }

// My methods here.
public string SampleMethod()
{
  return "Method output.";
}
</script>
<!-- #include file="../ScriptTemplate.cst" -->
 <%
// [{"code":"tfProjectCode","name":"tfProjectName"},{"code":"tfBidSectionId","name":"tfBidSectionName"}]-->
//System.Diagnostics.Debugger.Launch();  
this.Generate();  %>  
 
 
 
 
 
 
 
 
 